/*------------Fonts---------------*/
@font-face {
  font-family: Secret-Typewriter;
  src:url(veteran_typewriter.ttf);
}

body {
  font-family: Secret-Typewriter;
  background-image: url(eggshell.jpg);
}

input {
  font-family: Secret-Typewriter;
}


/*------------Header---------------*/
h1 {
  text-align: center;
  font-size: 50px;
}

.lamp-letter {
  display: inline;
}

/*------------Keyboard---------------*/

.keyboard {
  background-color: #313030;
  border-radius: 8px;
  max-width: 610px;
  margin: 0 auto;
  padding: 7px;
}

.letters-row-1 {
  display: flex;
  justify-content: space-around;
  width: 550px;
  padding: 10px;
  margin: auto;
}

.letters-row-2 {
  display: flex;
  justify-content: space-around;
  width: 509px;
  padding: 10px;
  margin: auto;
}

.letters-row-3 {
  display: flex;
  justify-content: space-around;
  width: 443px;
  padding: 10px;
  margin: auto;
}

.key {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #2f2d2d;
  color: #c0c0c0;
  border-radius: 50%;
  border: 1px solid #c0c0c0;
  text-align: center;
  font-size: 25px;
  line-height: 39px;

  cursor: pointer;

  transition: all 0.25s ease;

}

.key:hover {
  color: yellow;
  border: 1px solid yellow;
  font-size: 30px;
}

.key.pressed {
  transform: scale(1.1);
  color: yellow;
  border: 1px solid yellow;
}

.text-containers {
  overflow-wrap: break-word;
  letter-spacing: 3px;
}


.input-container {
  border: 1px solid #929191;
  padding: 7px;
  border-radius: 7px;
  background-color: rgba(86, 222, 32, 0.13);
  margin: 6px auto 0;
  max-width: 610px;
  min-height: 20px;
}

.output-container {
  border: 1px solid #929191;
  padding: 7px;
  border-radius: 7px;
  background-color: rgba(222, 45, 0, 0.13);
  margin: 6px auto 0;
  max-width: 610px;
  min-height: 20px;
}

.lable-text {
  margin-left: 10px;
}
